<footer class="bg-white">
    <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
        <div class="flex justify-center mt-8 space-x-6">
            <a href="https://github.com/william-Blackie/" class="text-gray-400 hover:text-indigo-600">
                <span class="sr-only">GitHub</span>
                {% include "atoms/github_icon.njk" %}
            </a>
        <a href="https://medium.com/@william.blackie" class="text-gray-400 hover:text-indigo-600">
            <span class="sr-only">Medium</span>
            {% include "atoms/medium_icon.njk" %}
        </a>
        </div>
        <p class="mt-8 text-base leading-6 text-center text-gray-400">
            © 2021 William Blackie
        </p>
    </div>
</footer>