<nav class="container flex justify-center pl-5 mx-auto mt-5 sm:mt-10 md:justify-between">
    <a class="items-center hidden mt-5 text-sm font-bold leading-10 tracking-tight text-indigo-600 uppercase sm:flex sm:text-lg md:text-xl lg:text-3xl hover:opacity-80 hover:underline" href="mailto:williamblackie@gmail.com"> 
        {% include "atoms/mail_icon.njk" %}
        william.blackie96@gmail.com</a>
    <div class="items-center md:flex md:justify-end">
        <a class="mt-5 text-sm font-bold leading-10 tracking-tight text-indigo-600 uppercase sm:text-lg md:text-xl lg:text-3xl hover:opacity-80 hover:underline" href="#projects">Projects</a>
        <a class="pl-5 mt-5 text-sm font-bold leading-10 tracking-tight text-indigo-600 uppercase sm:text-lg md:text-xl lg:text-3xl hover:opacity-80 hover:underline" href="#experience">Work</a>
        <a class="pl-5 mt-5 text-sm font-bold leading-10 tracking-tight text-indigo-600 uppercase sm:text-lg md:text-xl lg:text-3xl hover:opacity-80 hover:underline" href="mailto:william.blackie96@gmail.com">Contact</a>

    </div>
</nav>