
{% extends "layouts/base_page.njk" %}

{% block content %}

{% include 'components/hero.njk' %}

<section class="container pl-5 mx-auto">
    <h2 class="pb-1 text-2xl font-bold text-indigo-600">Experience</h2>
    
    {% for item in experience %}
    <div class="container pb-2.5 mt-5 sm:mt-10">
        <div class="container flex flex-col justify-between max-w-full sm:flex-row">
            <span class="">
                <h3 class="font-bold">{{ item.title }}</h3>
                <p>{{ item.company }}</p>
            </span>
            <p class="flex items-end">{{ item.date }}</p>
        </div>
    </div>
    {% endfor %}
    
</section>

<section class="container pl-5 mx-auto mt-5 sm:mt-10">
    <h2 class="pb-1 text-2xl font-bold text-indigo-600">Awards</h2>

    {% for item in awards %}
    <div class="container pb-2.5 mt-10">
        <div class="container flex flex-col justify-between max-w-full sm:flex-row">
            <span class="">
                <h3 class="font-bold">{{ item.title }}</h3>
                <p>awarded by <a class="text-indigo-600" href={{ item.url }}>{{ item.awarding_body }}</a></p>
            </span>
            <p class="flex items-end">{{ item.date }}</p>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}


<div class="container mx-auto mt-10">
    <h2 class="pb-1 text-2xl font-bold text-indigo-600">About Me</h2>


</div>